@media screen and (max-width:576px) {

    .section-container,
    .banner-container .select-form,
    .popular-tours-section,
    .perfect-place-container {
        flex-direction: column;
    }

    .destination-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
        ;
    }

    .why-choose-Section .why-choose-card-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "m"
            "p"
        ;
    }
    .support-container{
        grid-template-columns: 1fr;
    }

    .banner-container .select-form {
        height: 288px;
        width: 90%;
    }

    input[type="text"],
    .search-btn,
    #select-type {
        width: 90%;
    }

    .section-container .user-box,
    .popular-tours-section .section-content {
        width: 100%;
    }

    .section-container,
    .popular-tours-section {
        gap: 30px;
    }

    /* ------Save 70% Off Section Responsive------ */
    .section-container .save-up .site-box {
        width: 214px;
        height: 79px;
        /* transform: rotate(-19.628deg); */
        /* padding: 10px; */
        bottom: 30px;
    }

    .section-container .save-up .site-box h3 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .section-container .save-up .site-box a {
        font-size: .80rem;
    }
    .perfect-place-container video{
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    .section-container,
    .banner-container .select-form,
    .popular-tours-section,
    .perfect-place-container {
        flex-direction: column;
    }

    .why-choose-Section .why-choose-card-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "m"
            "p"
        ;
    }
    .support-container{
        grid-template-columns: repeat(2, 1fr);
    }


    .banner-container .select-form {
        height: 288px;
        width: 90%;
    }

    input[type="text"],
    .search-btn,
    #select-type {
        width: 80%;
    }

    .section-container .user-box,
    .popular-tours-section .section-content {
        width: 100%;
    }

    .section-container,
    .popular-tours-section {
        gap: 30px;
    }
    .perfect-place-container video{
        height: 100%;
        width: 100%;
    }
}



@media screen and (max-width:992px) {
    .nav-container nav {
        display: none;
    }

    .hamburger-menu .fa-solid {
        display: block;
    }

}