@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --primary-color: #FF5400;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/*-------- Header Section Design Here --------*/
.logo {
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-weight: 800;
}

header {
    padding-top: 52px;
}

.logo-container,
.footer-logo-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo .important,
.footer-logo-container .important {
    color: var(--primary-color);
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container nav ul {
    display: flex;
    gap: 44px;
}

.nav-container nav ul li {
    list-style-type: none;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.10rem;
    font-weight: 400;
}

.nav-container nav ul .home-btn {
    color: var(--primary-color);
}

/* ------Shared Style Here------ */
.section-description,
.list-describe {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}

main,
header {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.50rem;
    font-weight: 800;
}

input[type="text"],
.search-btn,
#select-type,
.popular-tours-btn
{
    outline: 0;
    border: 0;
    border-radius: 8px;
}
.section-container .save-up img,
.popular-tour-img >img{
    width: 100%;
    height: 100%;
}



/* -------hamburger-menu style------ */

#check {
    display: none;
}

.hamburger-menu .fa-solid {
    display: none;
    font-size: 30px;
    float: right;
    margin-top: 10px;
}

/*------Banner Section Start Here------ */
.banner-container {
    margin-top: 49px;
    padding-block: 106px;
    text-align: center;
}

.banner-img {
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
}

.banner-container .banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-container .banner-description {
    max-width: 676px;
    margin: 0 auto;
    color: #FFF;
}

.banner-container .select-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 84px;
    border-radius: 8px;
    margin-top: 48px;
    background-color: rgba(255, 255, 255, 0.30);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 48px;
}

#select-type {
    height: 52px;
    width: 174px;
    padding-left: 16px;
    /* padding-right: 20px; */
}


input[type="text"],
.search-btn {
    padding-block: 16px;
    padding-left: 16px;
}

.banner-container .search-btn {
    padding-inline: 34px;
    color: #FFF;
    background-color: var(--primary-color);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
}

.banner-container .search-btn .fa-magnifying-glass {
    margin-right: 8px;
}

/* ------Popular Tour Section Design Start Here------- */
.popular-tours-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 100px;
}

.popular-tours-section .section-content {
    width: 50%;
}

.popular-tours-section .section-content .popular-tour-describe {
    margin-block: 24px;
}
.popular-tours-section .section-content .popular-tour-describe-two{
    color: #5A5A5D;
    margin-block: 25px 38px;
}

.popular-tours-section .section-content .list-describe {
    margin-left: 20px;
}

.popular-tours-section .section-content .list-describe-item {
    margin-block: 16px;
}

.popular-tours-section .section-content .popular-tours-btn {
    padding: 14px 35px;
    background-color: var(--primary-color);
}

.popular-tours-section .section-content .popular-tours-btn a {
    text-decoration: none;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.20rem;
    font-weight: 800;
}

/*-------- User Form Box Design Start Here --------*/
.section-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-block: 100px;
    position: relative;
}

.section-container .user-box {
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.section-container .user-box h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.50rem;
    margin-bottom: 16px;
    font-weight: 800;
}

.box-line {
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    max-width: 393px;
    margin-block: 24px;
}

.section-container .user-box form input[type="text"],
input[type="email"] {
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: 0;
    border: 0;
}

.section-container .user-box form input[type="text"] {
    margin-bottom: 16px;
}

.section-container .user-box .user-btn {
    margin-top: 24px;
    /* padding-block: 14px; */
}

.section-container .user-box .user-btn .user-btn-box {
    padding-block: 14px;
    width: 100%;
    background-color: var(--primary-color);
    outline: 0;
    border: 0;
    border-radius: 8px;
}

.section-container .user-box .user-btn .user-btn-box a {
    text-decoration: none;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
}

.section-container .save-up {
    position: relative;
}

.section-container .save-up .site-box {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    max-width: 324px;
    height: 120px;
    background-color: var(--primary-color);
    transform: rotate(-19.628deg);
    position: absolute;
    right: 10px;
    bottom: 50px;
    padding-inline: 40px;
}

.section-container .save-up .site-box h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

.section-container .save-up .site-box a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 1.50rem;
    font-weight: 400;
}

/* ------Footer  Section Design Start Here------- */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 110px 0;
    text-align: center;
}

footer .footer-logo-container {
    margin-bottom: 15px;
}

footer .footer-logo-container .footer-logo {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

.footer-logo-container {
    justify-content: center;
}

footer .footer-description {
    max-width: 769px;
    margin: 0 auto;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #FF5400;

}

footer .social-icons .fa-brands {
    color: #131318;
    font-size: 24px;
    margin-top: 33px;
    /* margin-bottom: 50px; */
}

footer .line {
    max-width: 872px;
    margin: 50px auto;
    height: 2px;
    width: 100%;
    background-color: rgba(19, 19, 24, 0.10);
}

footer>small {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}